<html>
  <body>
    <form action="addnews" method="POST" enctype="multipart/form-data">
      <table>
        <tr>
          <td>Title</td>
          <td><input type="text" name="txtTitle" /></td>
        </tr>
        <tr>
          <td>Content</td>
          <td><textarea rows="4" cols="40" name="txtContent"></textarea></td>
        </tr>
        <tr>
          <td>Image</td>
          <td><input type="file" name="fileImage" /></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="ADD NEW" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>
