<html>
  <body>
    <form action="./login" method="POST">
      <table style="margin: auto">
        <tr>
          <td colspan="2" align="center" style="padding-top: 20">
            <h2>CUSTOMER LOGIN</h2>
          </td>
        </tr>
        <tr>
          <td>Username</td>
          <td><input type="text" name="txtUsername" required /></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" name="txtPassword" required /></td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" name="rememberMe" style="float:right" />
          </td>
          <td>Remember Me</td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="LOGIN" /></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="./signup">Sign-up</a> for a new account</td>
        </tr>
      </table>
    </form>
  </body>
</html>
