<html>
  <body>
    <form action="./signup" method="POST">
      <table style="margin: auto">
        <tr>
          <td colspan="2" align="center" style="padding-top: 20">
            <h2>SIGNUP</h2>
          </td>
        </tr>
        <tr>
          <td>Username</td>
          <td><input type="text" name="txtUsername" required /></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" name="txtPassword" required /></td>
        </tr>
        <tr>
          <td>Name</td>
          <td><input type="text" name="txtName" required /></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td><input type="text" name="txtPhone" required /></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><input type="email" name="txtEmail" required /></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="SIGNUP" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>
